<!doctype html>
<html class="no-js" lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if page.id == "index" %} {{ site.title }} {% else %} {{ page.title | xml_escape }} - {{ site.title }} {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- fileblock:css css -->
    <!-- endfileblock -->

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>

  <body>
    <div class="sidebar">
      <div class="sidebar-about">
        <h1><a href="/index.html">{{ site.title }}</a></h1>
        <p class="lead">{{ site.description }}</p>
      </div>

      <!--This is a CSS trick to hide/show the sidebar for mobiles-->
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item{% if page.id == "index" %} active{% endif %}">
          <a href="/">Home</a>
        </li>
        <li class="sidebar-nav-item{% if page.id == "about" %} active{% endif %}">
          <a href="/about/">About</a>
        </li>
        <li class="sidebar-nav-item{% if page.id == "archive" %} active{% endif %}">
          <a href="/archive/">Archive</a>
        </li>
      </ul>

      <form id="sidebar-search-form" class="sidebar-search" method="GET">
        <input type="text" id="sidebar-search-input" class="sidebar-search-input" placeholder="Search"/>
      </form>
      <script id="search-results-empty-template" language="x-template">
          <p class="search-results-empty">No results found.</p>
      </script>
      <script id="search-results-post-template" language="x-template">
        <div class="post">
        <h1 class="post-title"><a href="<%= url %>"><%= title %></a></h1>
          <span class="post-date"><%= date %></span>
          <%= content %>
          <hr>
        </div>
      </script>

      <label for="sidebar-checkbox" class="sidebar-toggle-menu"></label>

      <div class="footer">Code available on <a href="https://github.com/pixelastic/blog.pixelastic.com">GitHub</a></div>
    </div>
    <div class="layout">
      <div class="content" id="content">

        <div class="content-search">
          <h1 class="page-title">Search</h1>
          <div class="posts search-results" id="search-results"></div>
        </div>

        <div class="content-display">
          {{ content }}
        </div>
      </div>
    </div>

    <!-- fileblock:js js -->
    <!-- endfileblock -->
  </body>

</html>
