<!doctype html>
<html class="no-js" lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if page.id == "index" %} {{ site.title }} {% else %} {{ page.title | xml_escape }} - {{ site.title }} {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- fileblock:css css -->
    <!-- endfileblock -->

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>

  <body>
    <div class="sidebar">
      <div class="sidebar-about">
        <h1><a href="/index.html">{{ site.title }}</a></h1>
        <p class="lead">{{ site.description }}</p>
      </div>

      <!--This is a CSS trick to hide/show the sidebar for mobiles-->
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item{% if page.id == "index" %} active{% endif %}">
          <a href="/">Home</a>
        </li>
        <li class="sidebar-nav-item{% if page.id == "about" %} active{% endif %}">
          <a href="/about/">About</a>
        </li>
        <li class="sidebar-nav-item{% if page.id == "archive" %} active{% endif %}">
          <a href="/archive/">Archive</a>
        </li>
      </ul>

      <form class="algolia__form" method="POST">
        <input type="text" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search on this site..." />
      </form>

      <label for="sidebar-checkbox" class="sidebar-toggle-menu"></label>

      <div class="footer">Code available on <a href="https://github.com/pixelastic/blog.pixelastic.com">GitHub</a></div>
    </div>
    <div class="layout">
      <div class="content" id="content">
        <div class="algolia__initial-content js-algolia__initial-content">{{ content }}</div>

        <div class="algolia__search-content js-algolia__search-content">
          <h1 class="page-title">Search</h1>
          <div class="posts algolia__results"></div>
        </div>
      </div>
    </div>

    <script>
      window.ALGOLIA_CONFIG = {
        'applicationId': '{{ site.algolia.application_id }}',
        'indexName': '{{ site.algolia.index_name }}',
        'apiKey': '{{ site.algolia.read_only_api_key }}'
      }
    </script>
    <script id="algolia__template" type="text/template">
    {% raw %}
      <div class="algolia__result">
        <a class="algolia__result-link" href="{{ url }}#algolia:{{ css_selector }}">{{{ _highlightResult.title.value }}}</a>
        {{#posted_at}}
        <div class="algolia__result-date">{{ posted_at_readable }}</div>
        {{/posted_at}}
        <div class="algolia__result-text">{{{ _highlightResult.content.value }}}</div>
    {% endraw %}
    </script>
    <script id="algolia__template--no-results" type="text/template">No results</script>
    <!-- fileblock:js js -->
    <!-- endfileblock -->
  </body>

</html>
