.h-7.bg-green-6.white
  .flrnw
    .fln Pixelastic
    .fln (Search)
    .fln.flrnw
      .fln 
  | ok
//.__header.fixed.w-100p.top-0.z-9.h-8.bg-red-9
//  .flrnw.flral.h-100p.flc
//    input#menu_checkbox.hidden(type="checkbox")
//    //- Title
//    .fln.bold.white.text-5.h-8.pr-2.hidden.sm_flrnw.sm_flc
//      a.block.h-100p.flcnw.flc.ml-1(href=page.url)
//        img.md_hidden.h-80p(src='./images/logo-small.png' alt="Pathfinder Society")
//        img.hidden.md_block.h-100p(src='./images/logo.png' alt="Pathfinder Society")
//    //- Searchbar
//    .__searchboxContainer.fla.flrnw.flrcv.h-100p.ml-01.relative
//      .__poweredBy.hidden.lg_flex
//        .fln Search powered by
//        a.fln.ml-01.bold.hover_underline.pointer-events-auto(href=`https://www.algolia.com/?utm_source=instantsearch.js&utm_medium=website&utm_content=${site.url}&utm_campaign=poweredby`) Algolia
//      #searchbox.w-100p
//    //- Hamburger menu
//    .fln.flrnw.flrar.md_hidden.h-100p.flc.mx-01
//      label#menu_button.fill-current.border.rounded.p-02.white.pointer.hover_white(for="menu_checkbox")
//        svg.h-4.w-4(viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
//          title Menu
//          path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
//    //- Menu
//    #menu_content.bg-red-9.w-100p.absolute.z-9.top-8.left-0.hidden.md_flex.md_relative.md_top-0.md_fln.md_w-auto
//     .fla.flcnw.white.text-4.md_flrnw.md_flrar.md_flc.sm_pb-0
//       a.px-02.py-01.hover_underline.md_px-1(href="./about.html") About

