{
  "ecmaFeatures": {
  },
  "env": {
    "browser": true
  },
  "rules": {
    "camelcase": false,
    "key-spacing": [1, {
      "beforeColon": false,
      "afterColon": true
    }],
    "no-multi-str": false,
    "no-underscore-dangle": false,
    "no-use-before-define": "nofunc",
    "quotes": "single",
    "strict": "global"
  },
  "globals" : {
    "$": false,
    "algoliasearch": false,
    "algoliasearchHelper": false,
    "Hogan": false,
    "_": false,
    "moment": false
  }
}

