# Build
/dist
_site
/tmp

# Dependencies
/node_modules
/bower_components
/vendors

# Credentials
_algolia_api_key

# Cache
.sass-cache
.changed-cache


# Various junk
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
.idea

