# Build
/dist
_site
/tmp

# Dependencies
/node_modules
/bower_components
/vendors

# Credentials
/grunt_tasks/options/algolia.js


# Various junk
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
.idea

