// Colors definition
$grey-lightest: #E5E5E5;
$grey-lighter:  #F9F9F9;
$grey-light:    #7A7A7A;
$grey:          #515151;
$grey-darker:   #313131;

$white: #FFFFFF;
$green: #90a959;

$code-background: #F9F9F9;
$code-color: #BF616A;



// Colors application
$background: #FFFFFF;



// RWD breakpoints
$content-width: 38rem;
$breakpoint-desktop: 38rem;
