@import '_config';

/* Search form */
.algolia__form {
  margin-bottom: 1rem;
}

.algolia__input {
  padding: .5rem;
  color:$text-color;
  outline:none;
  width:100%;
  border:none;
  font-size: 20px;
}

/* Search results */
.algolia__initial-content {
  display:block;
}
.algolia__initial-content--hidden {
  display:none;
}
.algolia__search-content {
  display:none;
}
.algolia__search-content--active {
  display:block;
}

.algolia__result-link {
  font-size: 1.25rem;
  font-weight:bold;
  font-family: "AmarantRegular";
}
.algolia__result-date {
  font-size:0.8rem;

}
.algolia__result-text {
}
.algolia__result-highlight {
  background: yellow;
  color:inherit;
}

