@import 'config';

// Fixes to the default CSS theme of InstantSearch, as our SASS+minification
// seems to be removing some of the rules.
.sidebar {
  .ais-SearchBox-form:before {
    background-repeat: no-repeat;
  }
}

// Search results hide and seek
#content-search {
  display: none;
}
#content-static {
  display: block;
}

#search-hits {
  .ais-Hits-item {
    box-shadow: none;
    font-size: inherit;
    line-height: inherit;
    padding: 1rem 0;
    border-bottom: 1px solid lightgrey;
  }
  .algolia__result-link {
    font-family: 'PermanentMarker';
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: .75rem;
    display: block;

    mark {
      background-color: $red-light;
    }
  }

  .algolia__result-text mark {
    background-color: $red-light;
    font-weight: bold;
    padding:0 0.1rem;
  }
}


