@import '_config';

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  @media (min-width: $breakpoint-desktop) {
    font-size: 20px;
  }
}

body {
  color: $grey;
  background-color: $white;
}
