@import '_config';

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  // Make the font smaller on smaller screens
  @media (max-width: $width-base-page) {
    font-size: 16px;
  }
}

body {
  color: $text-color;
  background-color: $white;
}
