@import '_config';

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  font-weight:bold;
  color: $code-color;
  background-color: $code-background;
  border-radius: 3px;
}

/**
 * Code blocks
 **/
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $code-background;
  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    font-weight:normal;
  }
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
  pre {
    margin-bottom: 0;
    background:#121212;
    color: #D0D0D0;
  }
  // Comments
  .c, .c1 { 
    color: $oroshi-comment; 
    font-weight:bold;
  }
  .sd {
    color: $oroshi-comment;
    font-style:normal;
  }
  // String
  .s, .s1, .s2 { color: $oroshi-string; }
}

.language-ahk {
  .o { color: $oroshi-calmred; }
  .err { color: $oroshi-normal; background:none;}
}
.language-apache {
  .nb { color: $oroshi-green; }
  .sx { color: $oroshi-normal; }
}
.language-css {
  .nc { color: $oroshi-css-class; }
  .nd { color: $oroshi-css-pseudoclass; }
  .nt { color: $oroshi-css-tag; }
  .k { color: $oroshi-css-property; }
  .nb { color: $oroshi-css-value; }
}
.language-html {
  .nt { color: $oroshi-html-tag; }
  .na { color: $oroshi-html-attribute; }
}
.language-ini {
  .err { color: $oroshi-normal; background:none; }
}
.language-javascript, .language-js {
 .kd { color: $oroshi-js-function; }
 .sr { color: $oroshi-regexp; }
 .nx { color: $oroshi-normal; }
 .kc { color: $oroshi-js-undefined; }
 .k { color: $oroshi-js-statement; }
}
.language-json {
  .nt { color: $oroshi-string; }
}
.language-nginx {
  .k, .kn { color: $oroshi-darkgreen; }
  .s { color: $oroshi-normal; }
  .sr { color: $oroshi-normal; }
  .mi { color: $oroshi-normal; }
  .err { color: $oroshi-normal; background:none; }
}
.language-php {
  .nv { color: $oroshi-php-variable; }
  .k { color: $oroshi-calmred; }
  .nb { color: $oroshi-php-function; }
  .nf { color: $oroshi-normal; }
}
.language-ruby {
  .k { color: $oroshi-ruby-class; }
  .nc { color: $oroshi-ruby-className; }
  .nf { color: $oroshi-functionName; }
  .nb { color: $oroshi-normal; }
  .no { color: $oroshi-ruby-className; }
}
.language-sh {
  .o { color: $oroshi-normal; }
  .nb { color: $oroshi-sh-statement; }
}
.language-vim {
  .k { color: $oroshi-darkgreen; }
  .nb { color: $oroshi-darkgreen; }
  .m { color: $oroshi-normal; }
  .k { color: $oroshi-string; }
}
.language-xml {
  .nt { color: $oroshi-html-tag; }
}
