@import '_config';

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  font-weight:bold;
  color: $code-color;
  background-color: $code-background;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $code-background;
  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
  pre {
    margin-bottom: 0;
  }
}
