@font-face {
    font-family: 'AmarantRegular';
    src: url('/fonts/AmaranthRegular.eot');
    src: url('/fonts/AmaranthRegular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/AmaranthRegular.woff') format('woff'),
         url('/fonts/AmaranthRegular.ttf') format('truetype'),
         url('/fonts/AmaranthRegular.svg#amaranthregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmaranthBold';
    src: url('/fonts/AmaranthBold.eot');
    src: url('/fonts/AmaranthBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/AmaranthBold.woff') format('woff'),
         url('/fonts/AmaranthBold.ttf') format('truetype'),
         url('/fonts/AmaranthBold.svg#amaranthregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
