@font-face {
    font-family: 'AmarantRegular';
    src: url('/fonts/amaranth-regular.eot');
    src: url('/fonts/amaranth-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/amaranth-regular.woff') format('woff'),
         url('/fonts/amaranth-regular.ttf') format('truetype'),
         url('/fonts/amaranth-regular.svg#amaranthregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AmaranthBold';
    src: url('/fonts/amaranth-bold.eot');
    src: url('/fonts/amaranth-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/amaranth-bold.woff') format('woff'),
         url('/fonts/amaranth-bold.ttf') format('truetype'),
         url('/fonts/amaranth-bold.svg#amaranthregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

