@import 'config';

.layout {
  margin-right: $width-base-sidebar;
  // Not enough space to fit sidebar and content, we make the content take all
  // the width available
  @media(max-width: $width-base-page) {
    margin-right: 0;
    margin-top: $height-tablet-header;
  }
}

.content {
  margin: 0 auto;
  max-width: $width-base-content;
  padding: 2rem 1rem;
  // Tablets: Reducing top padding
  @media(max-width: $width-base-page) {
    padding-top: 2rem;
  }
}

// SIDEBAR
.sidebar {
  background-color: $green;
  bottom: 0;
  color: rgba(255, 255, 255, .5);
  padding: 2rem;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  width: $width-base-sidebar;
  // Tablets : putting sidebar as a header
  @media(max-width: $width-base-page) {
    bottom: auto;
    box-shadow: 0 5px 15px rgba(255, 255, 255, .7);
    height: $height-tablet-header;
    left: 0;
    padding: .5rem 1rem;
    width: auto;
  }

  a {
    color: $white;
  }
}

.sidebar-about {
  // Tablets: Hiding lead, centering title
  @media(max-width: $width-base-page) {
    display: table;
    float: left;
    height: 100%;

    .lead {
      display: none;
    }
  }

  h1 {
    color: $white;
    font-family: 'AmaranthBold';
    font-size: 3.25rem;
    margin-top: 0;
    // Tablets: Centering title
    @media(max-width: $width-base-page) {
      display: table-cell;
      vertical-align: middle;
    }
    // Phones : Reducing title size
    @media(max-width: $width-phone-page) {
      font-size: 3rem;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

// SIDEBAR NAV
.sidebar-checkbox {
  // Always hide the checkbox
  display: none;
  // If checked, display the nav
  @media(max-width: $width-phone-page) {
    &:checked + .sidebar-nav {
      display: block;
    }
  }
}

.sidebar-toggle-menu {
  // Menu icon for small phones
  display: none;
  @media(max-width: $width-phone-page) {
    cursor: pointer;
    display: block;
    height: $height-tablet-header;
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
  }
  // Displaying a menu icon using before/after borders
  &:before,
  &:after {
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    right: 1rem;
    width: 2rem;
  }

  &:before {
    border-bottom: 6px solid $white;
    border-top: 6px solid $white;
    height: 16px;
    margin-top: -13px;
    top: 50%;
  }

  &:after {
    border-top: 6px solid $white;
    margin-top: 7px;
    top: 50%;
  }
}

.sidebar-nav {
  list-style: none;
  margin: 0 0 1rem;
  padding-left: 0;
  // Tablets : Menu on the right, centered
  @media(max-width: $width-base-page) {
    display: table;
    float: right;
    font-size: 1.25rem;
    height: 100%;
    margin: 0;
  }
  // Phones : Overlay with big links on click on menu
  @media(max-width: $width-phone-page) {
    background: $green;
    display: none;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: $height-tablet-header;
  }
}

.sidebar-nav-item {
  display: block;
  // Tablets : Centering menu elements
  @media(max-width: $width-base-page) {
    display: table-cell;
    vertical-align: middle;

    a {
      display: block;
      padding: 1rem;
    }
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.active {
    font-weight: bold;
  }
}



// FOOTER
// 1. Should be lower than the one in sidebar-search.
.footer {
  // Hide footer if not enough space to display it
  @media(max-height: $height-desktop-sidebar) {
    display: none;
  }
  bottom: 0;
  color: rgba(255, 255, 255, .5);
  font-size: .8rem;
  position: fixed;
  right: 0;
  text-align: center;
  width: $width-base-sidebar;
  z-index: $zindex-1--footer; // 1

  a {
    color: $white;
  }
}

