@import '_config';

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $grey-light;
  border-left: .25rem solid $grey-lightest;
  @media (min-width: 30rem) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

