<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1><a href="/index.html">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.id == "index" %} active{% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="sidebar-nav-item{% if page.id == "about" %} active{% endif %}">
        <a href="/about/">About</a>
      </li>
      <li class="sidebar-nav-item{% if page.id == "archive" %} active{% endif %}">
        <a href="/archive/">Archive</a>
      </li>
    </ul>

  </div>
</div>
